{% load static %}
<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            CCU 
        </title>

        <link rel="shortcut icon" href="{% static 'sage_main/images/png.jpg' %}">
        
        <link href="{% static 'sage_main/plugins/fontawesome5/css/all.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'sage_main/plugins/datetimepicker/jquery.datetimepicker.js' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'sage_main/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'sage_main/plugins/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'sage_main/plugins/jquerycountdown/css/jquery.countdown.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'sage_main/style.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'sage_main/theme.min.css' %}" rel="stylesheet" type="text/css" />
        <style>

        </style>
    </head>
    <body>

        
        <!-- </header> -->
home



        <script src="{% static 'sage_main/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'sage_main/js/popper.min.js' %}"></script>
        <script src="{% static 'sage_main/js/bootstrap.min.js' %}"></script>
        <!-- <script src="{% static 'exam/js/plugins.js' %}"></script> -->
        <script src="{% static 'sage_main/js/metismenu.min.js' %}"></script>
        <script src="{% static 'sage_main/js/waves.js' %}"></script>
        <script src="{% static 'sage_main/js/simplebar.min.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script> -->
        
        
        <!-- counterup JS
            ============================================ -->
        <script src="{% static 'sage_main/plugins/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'sage_main/plugins/counterup/waypoints.min.js' %}"></script>



        <!-- App js -->
        
        <script src="{% static 'sage_main/js/theme.js' %}"></script>
        <!-- <script src="{% static 'sage_main/js/main.js' %}"></script> -->
    </body>
</html>